<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Me</h1>
                <p class="text-center sub-heading">Accessibility is the degree to which anyone can access and use a website using any web browsing technology!!!</p>
                <div class="row">
                    {{!-- left side --}}
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src='images/about.svg' alt="backend">
                            
                        </figure>
                    </div>
                    
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h3>You may have to sit down – but never let yourself sit still</h3>
                        <p>Full Stack Developer specializing in <span class="bold-style">MERN Stack Development</span>
                        I am consistently working towards an understanding of all aspects of technology. 
                        I am especially fascinated by technologies such as artificial intelligence.
                        I also have a deep interest towards robotics, especially the ones which 
                        could be used as assistive tools for physically challenged. 
                        And my dream is to one day be able to be part of a research team which 
                        is working towards building such equipment. </p>
                        <a href="/">
                        <button class="btn-style btn-primary">Back Home</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
