<section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d310843.46422512044!2d13.144545432575159!3d52.506931242197226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e373f035901%3A0x42120465b5e3b70!2sBerlin%2C%20Germany!5e0!3m2!1sen!2s!4v1614241748718!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>