<div class="container-fluid mt-5 about-style" id="serviceid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Skills</h1>
                {{!-- <p class="text-center sub-heading">grow your business with us</p> --}}
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="skills responsive">
                                <div class="icon">
                                    <div class="icon-awesome">
                                    <i class="fas fa-mobile-alt"></i>
                                    </div>
                                </div>
                                    <h4>Responsive Web Design</h4>
                                    <p>Dynamic Appearance of a Website, depending on the screen side and the orientation of the device.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="skills graphic">
                                 <div class="icon">
                                    <div class="icon-awesome">
                                    <i class="fas fa-laptop-code"></i>
                                    </div>
                                </div>
                                    <h4>Graphic Web Design</h4>
                                    <p>Graphic design using proprietary software, UX/UI and code to make websites look futuristic and efficient</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="skills clean">
                                <div class="icon">
                                    <div class="icon-awesome">
                                    <i class="fas fa-code"></i>
                                    </div>
                                </div>
                                    <h4>Clean Code</h4>
                                    <p>Code which is based on single responsiblity principle and is easy to read and understand for everyone.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="skills frontend">
                                <div class="icon">
                                    <div class="icon-awesome">
                                    <i class="fab fa-react"></i>
                                    </div>
                                </div>
                                    <h4>Frontend Programming</h4>
                                    <p>HTML/HTML5, CSS/CSS3 and JavaScript using modern UI like ReactJS/Reduxx.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="skills backend">
                                <div class="icon">
                                    <div class="icon-awesome">
                                    <i class="fab fa-node-js"></i>
                                    </div>
                                </div>
                                    <h4>Back End Programming</h4>
                                    <p>build data driven applications, using mongoDB, mongoose, expressJS and nodeJS.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="skills communication">
                                <div class="icon">
                                   <div class="icon-awesome">
                                       <i class="fab fa-accessible-icon"></i>
                                   </div>
                                </div>
                                    <h4>Soft Skills</h4>
                                   <p>Courage to leave the comfort zone, stay focused and persistent, believe in communication, ready to learn and adapt</p>
                                
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
</div>
